.body {
  background-color: #64DDBB;
  color: #3C3741;
}

.headbar {
  color:#710301;
}

.data {
  min-height: 175px;
  padding: 25px;
}


label {
  padding: 10px;
}

.box {
  margin-top: 10px;
  border: 1px solid #3E4651;
  padding-bottom: 10px;
}
