.body {
  background-color: #8A2D3C;
  color: #000;
}

.headbar {
  color:#FFC153;
}

.data {
  min-height: 240px;
  padding: 25px;
}


label {
  padding: 10px;
}

.box {
  margin-top: 10px;
  border: 1px solid #eee;
  padding-bottom: 10px;
}
