<div class="container">
    <div class="row">
    <div class="col-md-offset-2 col-md-8 box">
      <h3 class="text-center">Filters</h3>
      <form class="form-inline">
        <label for="year">
          Year
          <select id="year" class="form-control">
            <option></option>
          </select>
        </label>
        <label for="thefts">
          Theft Type
          <select id="thefts" class="form-control">
            <option></option>
          </select>
        </label>
        <label for="value">
          Theft Value($)
          <input type="text" class="form-control" id="value" placeholder="Greater than">
        </label>
        <button class="btn btn-primary" type="submit" name="button">Search</button>
      </form>
    </div>
  </div>
</div>
