<div class="container">
    <div class="row">
    <div class="col-md-offset-2 col-md-8 box">
      <h3 class="text-center">Filters</h3>
      <form class="form-inline" ng-submit="search(filter)">
        <label for="year">
          Year
          <select id="year" class="form-control" ng-model="filter.year">
            <option ng-repeat="x in years">{{x}}</option>
          </select>
        </label>
        <label for="thefts">
          Theft Type
          <select id="thefts" class="form-control" ng-model="filter.theft">
            <option>Over $500</option>
            <option>Under $500</option>
          </select>
        </label>
        <label for="value">
          Theft Value($)
          <input type="text" class="form-control" id="value" placeholder="Greater than" ng-model="filter.greaterThan" required>
        </label>
        <button class="btn btn-primary center-block" type="submit" name="button">Search</button>
      </form>
    </div>
  </div>
</div>
