<div class="container">
    <div class="row">
    <div class="col-md-offset-1 col-md-10 box">
      <h3 class="text-center">Add New</h3>
      <form class="form-inline" ng-submit="addNew(addObj)">
        <label for="year">
          Year
          <input type="text" class="form-control" id="year" ng-model="addObj.year">
        </label>
        <label for="Ovalue">
          Over $500
          <input type="text" class="form-control" id="Ovalue" ng-model="addObj.over">
        </label>
        <label for="Uvalue">
          Under $500
          <input type="text" class="form-control" id="Uvalue" ng-model="addObj.under">
        </label>
        <button class="btn btn-primary center-block" type="submit" name="button">Update</button>
      </form>
    </div>
  </div>
</div>
